.headerImagen{
		margin: auto;
	    width: 100%;
	    border-bottom:2px solid #12457a;
	    padding: 10px;
	    text-align:center;
	   /* margin-bottom:10px;*/
	}

.loginPanel{
	margin:auto;
	width:100%;
	padding:10px;
	text-align:center;
	background-color:#eeeeee;	
}

.headerMenu{
	margin:auto;
	padding:20px 15%;
	width:100%;
	text-align:center;	
	border-bottom:2px solid #12457a;
	background-color:#12457a;
	color:white;
	
}
.headerMenu .item{
	border:1px solid;
}

.submenuPrincipal{
	text-align:center;
}

.seccionPrincipal{
	/*border:1px solid #333333;*/
	border-top:0;
}